// Custom styles.


// 顶部加载条
.pace .pace-progress {
    background: #222; /*进度条颜色*/
    height: 2px;
}
.pace .pace-progress-inner {
     box-shadow: none; /*阴影颜色*/
}
.pace .pace-activity {
    border-top-color: #222;    /*上边框颜色*/
    border-left-color: #222;    /*左边框颜色*/
}


// 首页文章
.posts-expand .post {
    padding: 45px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
